.chart-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-bar__inner {
  height: 100%;
  width: 55%;
  border: 0.8px solid #313131;
  margin: 0;
  padding: 0;
  border-radius: 12px;
  background-color: #f9fde6;
  background-image: url(https://www.transparenttextures.com/patterns/lined-paper.png);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chart-bar__fill {
  background-color: #c9d414;
  width: 100%;
  transition: all 0.3s ease-out;
}

.chart-bar__label {
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 6px;
}
